---

const today = new Date();
// Use Astro.glob() to fetch all links, and then sort them by date.
const links = (await Astro.glob('./../content/links/*.json'));
console.log(links);
---

<footer>
	&copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
  {links.length > 0 && (
    <ul>
      {links.map((link) => (
        <li>
          <a href={link.url} title={link.description} target="_blank" rel="noopener noreferrer">
            {link.title}
          </a>
        </li>
      ))}
    </ul>
  )}
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
