---
const today = new Date();
import { getCollection } from 'astro:content';
const links = await getCollection('links');
---

<footer>
	&copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
  {links.length > 0 && (
    <ul>
      {links.map((link) => (
        <li>
          <a href={link.data.url} title={link.data.description} target="_blank" rel="noopener noreferrer">
            {link.data.title}
          </a>
        </li>
      ))}
    </ul>
  )}
</footer>
<style >
	footer {
		padding: 25px;
		text-align: center;
	}

  footer ul {
    list-style-type: none;
  }

</style>
